---
layout: default
---
<div class="post">
 <header class="post-header d-flex align-items-center">
    <div style="flex: 1;">
      <h1 class="post-title">
        {% if site.title == 'blank' %}
          <span class="font-weight-bold">{{ site.first_name }} {{ site.last_name }} | {{ site.zh_name }}</span>
        {% else %}
          {{ site.title }}
        {% endif %}
      </h1>
      <p class="desc">{{ page.subtitle }}</p>
    </div>
    {% if page.profile and page.profile.image %}
      <div class="profile-header float-right">
        {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
        <img 
          src="{{ profile_image_path }}" 
          alt="Profile Image"
          class="img-fluid z-depth-1 rounded"
          style="max-width: 320px; height: auto;"
        />
      </div>
    {% endif %}
  </header>
  
  <hr>

  <article>
    <h2>
        About Me
    </h2>
    <div class="clearfix">{{ content }}</div>
    <hr>

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">Latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}
   <hr>

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">Selected publications</a>
      </h2>
      (Note: * indicates equal contribution.)
      {% include selected_papers.liquid %}
    {% endif %}
    <hr>

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
